body {
    font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;
    background-color: white;
    color: #353b41;
}

.btn-bd-yellow {
	color: #23272b;
	background-color: #ffe484;
	border-color: #ffe484;
}

.btn-bd-yellow:active,
.btn-bd-yellow:hover {
	color:#ffe484;
	background-color:#23272b;
	border-color:#23272b;
}

.btn-outline-light:active,
.btn-outline-light:hover {
  color:#23272b;
}

.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.title {
	font-weight: 900;
}

.common-text {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .common-text {
    font-size: 27px;
  }
}

@media screen and (max-width: 576px) {
  .common-text {
    font-size: 20px;
  }
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
